<div class="photography-page">
    <h1>Photography</h1>
    <div class="photography-intro">
        <p>Photography is a nice side hobby of mine. I generally do landscape or nature photography, but portrait photography is something I want to try. I shoot with a Canon Rebel T8i for most pictures you'll see here, but some may be taken with a Canon T6, iPhone 7, or iPhone 13 Pro.</p>
        <p>This is a small subset of my photos. <a id="links" href="https://photos.app.goo.gl/pYjoG73f0xN4Y2By1">Check out more here!</a></p>
    </div>
    <imageGallery [S3FolderPath]="S3FolderPath"></imageGallery>
</div>
