<!-- <navbar-menu></navbar-menu> -->
<div>

    <div id="content">
        
        <br />
        <div display="inline-block" marginTop="20px">
            <h1 float="left"  text-align="left" marginBottom="20px">Hello There! My name is Patrick</h1>
            <div align-items="right" text-align="right">
                
                <!-- {/* <h2>Links:</h2> */} -->
                <p>
                    <a id="linkIcon" href="mailto:patrick@patricksmathers.com"> <img src="../../assets/shared/email_icon.png" vertical-align="middle" width="5%"/> </a> 
                    
                    <a id="linkIcon" href="https://www.linkedin.com/in/patrick-smathers/"> <img src="../../assets/shared/LI-In-Bug.png" width="5%" vertical-align="middle" margin-left="3%" margin-right="2%"/> </a>
                    
                    <a id="linkIcon" href="https://github.com/smathep/"> <img src="../../assets/shared/GitHub-Mark-Light-120px-plus.png" width="4%" vertical-align="middle"/> </a>
                </p>
            </div>
        </div>
        
        <br /><br /><br />
        <div style="display: inline-block"> 
            <img className='pictureBorder' src="../../assets/homepage/portrait.jpeg" alt="Patrick Smathers" width="20%" float="right" marginLeft="100px" borderRadius="300" />
            <h2>About Me</h2>
            <p>
                I'm a software developer at <a id="links" href="https://www.lpl.com">LPL Financial</a> currently based in Clemson, South Carolina. I recently graduated from Clemson University with a B.S. in Computer Science. In my spare time, I enjoy running, photography, playing video games, and working on some personal projects (like this website!)
                
                <br/>
                <br/>
                
                This website is just a fun way for me to show some of my projects and hobbies and work on something technical outside of my job, so feel free to look around and check out some of the things I've done!
                <br/>
            </p>
            
            
            
            <!-- {/* <h2>My Skills</h2>
                <p>
                    For languages, I have experience in Java, C++, and C. I also have worked in HTML, CSS (this website was originally built from scratch this way), Python, SQL, React (the current version of this website), and C#/.NET. 
                    For more details on languages, frameworks, and tools I am familar with, check out the <a id="links" href="/resume">Resume</a> page.
                </p> */} -->
        </div>                
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
    