<div class="homepage">
    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <p class="hero-greeting">Hello there! I'm</p>
                <h1 class="hero-name">Patrick Smathers</h1>
                <p class="hero-tagline">Software Engineer at Microsoft</p>
                <div class="hero-links">
                    <a href="mailto:patrick@patricksmathers.com" class="hero-icon-link" title="Email">
                        <img src="../../assets/shared/email_icon.png" alt="Email" />
                    </a>
                    <a href="https://www.linkedin.com/in/patrick-smathers/" class="hero-icon-link" title="LinkedIn">
                        <img src="../../assets/shared/LI-In-Bug.png" alt="LinkedIn" />
                    </a>
                    <a href="https://github.com/smathep/" class="hero-icon-link" title="GitHub">
                        <img src="../../assets/shared/GitHub-Mark-Light-120px-plus.png" alt="GitHub" />
                    </a>
                </div>
            </div>
            <div class="hero-portrait">
                <img src="../../assets/homepage/portrait.jpeg" alt="Patrick Smathers" />
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about-content">
            <h2>About Me</h2>
            <div class="about-card">
                <p>
                    I'm a software engineer at <a id="links" href="https://www.Microsoft.com">Microsoft</a> currently based in Upstate South Carolina. I graduated from Clemson University with a B.S. in Computer Science in 2023. In my spare time, I enjoy running, photography, playing video games, and working on some personal projects (like this website!)
                </p>
                <p>
                    This website is just a fun way for me to show some of my projects and hobbies and work on something technical outside of my job, so feel free to look around and check out some of the things I've done!
                </p>
            </div>
        </div>
    </section>
</div>
