// @import "../shared/components/gloablstyling.scss";

.header{
    display: inline-block; 
    margin-top: 20px;

    h1{
        float: left !important;
        text-align: left;
        margin-bottom: 20px;
    }

    p{
    }
}

.iconGroup{
    align-items: right;
    text-align: right;
}


.pictureBorder{
    width: 20%; 
    border: 2px solid var(--border-color);
    border-radius: 50%;
    margin-left: 100px;
    float: right;
}