<p>navbar works!</p>
<nav class="navbar">
    <div class="navbar-logo">
        <!-- <img src="assets/logo.png" alt="My App Logo" /> -->
    </div>
    <ul class="navbar-links">
        <li><p>Patrick Smathers</p></li>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="resume">Resume</a></li>
        <li><a routerLink="projects">Projects</a></li>
        <li><a routerLink="photography">Photography</a></li>
        <!-- <li><a routerLink="/contact">Blog</a></li> -->
    </ul>
</nav>