:root{
    --purple: rgb(66, 71, 100);
    --background-color: rgb(37, 46, 46);
    /* --negativeBodyMargin: -10%;
    --bodyMargin: 10%; */
}

body{
    background-color: var(--background-color);
    color: white;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0 var(--bodyMargin); */
    /* padding: 0 5px 0 5px; */
}   
h1{
    /* top right bottom left */
    /* padding: 0% 10% 0 10%; */
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: left;
    padding: 0 15px
}

p{
    margin: 15px;
}


#menu{
    list-style-type: none;
    margin: unset;

}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--purple);
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #111;
}

#links{
    color: white;
}

#linkIcon{
    text-decoration: none;
}

#projectPictures{
    margin: 5px;
    border: 10px solid var(--purple);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    align-self: center;
    width: 60%;
}

#content{
    margin: 0 10%;
}

.table{
    display: table;
    margin: 0 auto;
}

ul#horizontal-list{
    list-style: none;
    padding-top: 20px;
}
ul#horizontal-list li{
    display: inline;
    padding-right: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column{
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column{
      flex: 100%;
      max-width: 100%;
    }
  }
