.App {
  /* text-align: center; */
  /* style={{ background: 'linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5))' }} */
}
/* 
.attractionContainer{
  background-color: rgb(223, 20, 20);
} */

#brand{
  color:white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* color: black; */
}

.App-link {
  color: #61dafb;
}
:root{
  --purple: rgb(36, 42, 76) !important;
  --background-color: rgb(37, 46, 46) !important;
  --negativeBodyMargin: -10%;
  --bodyMargin: 10%;
  --border-color: rgba(255, 255, 255, 0.402);
}

body{
  background-color: var(--background-color) !important;
  background-image: linear-gradient(to right, rgba(33, 107, 168, 0.615), rgba(59, 152, 74, 0.381)) !important;
  color: white !important;
  /* color: black !important; */
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0 var(--bodyMargin); */
  /* padding: 0 5px 0 5px; */
}   
h1{
  /* top right bottom left */
  /* padding: 0% 10% 0 10%; */
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: left;
  padding: 0 15px
}

p{
  margin: 15px;
}


#menu{
  list-style-type: none;
  margin: unset;

}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--purple);
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white !important;
  /* color: black; */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
  background-color: #111;
}

#links{
  color: white;
  /* color: black; */
}

#linkIcon{
  text-decoration: none;
}

.pictureBorder{
  border: 2px solid var(--border-color) !important;
}

.projectPictures{
  margin: 5px;
  /* border: 10px solid var(--purple) !important; */
  /* border: 2px solid rgba(255, 255, 255, 0.402) !important; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  align-self: center;
  width: 60%;
}

#content{
  margin: 0 15%;
}

.centered{
  text-align: center;
}

.table{
  display: table;
  margin: 0 auto;
}

ul#horizontal-list{
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li{
  display: inline;
  padding-right: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 2px solid var(--border-color) !important;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column{
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column{
    flex: 100%;
    max-width: 100%;
  }
}
