ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
    position: fixed;
}

li {
    display: inline;
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #606060;
  }

 .active{
    background-color: rgb(4, 110, 248);
 }